body {
  font-family: 'Nunito', sans-serif;
  background-color: #fff; }

.row {
  padding-top: 15px; }

.card-header {
  font-weight: bold; }

i {
  color: #047bf7;
  font-size: 20px; }

.navbar-inner {
  background: transparent; }

h1 {
  font-weight: bold; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

.nav-logo {
  width: 30px; }

@media only screen and (max-width: 767px) {
  .card {
    margin-bottom: 10px; } }

.col-md-6 {
  margin-top: 20px; }

.logo {
  width: 100px; }

.imbe {
  width: 150px; }

@media only screen and (max-width: 767px) {
  .logo {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .imbe {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block; } }
