body {
  font-family: "Montserrat", sans-serif; }

.row {
  padding-top: 30px; }

i {
  color: #047bf7;
  font-size: 20px; }

h1 {
  font-weight: bold; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

.card {
  margin-top: 30px; }

img {
  display: block;
  height: 200px;
  width: 100%; }

.date {
  margin-top: 10px; }

@media only screen and (max-width: 767px) {
  img {
    display: inline; }
  .alert {
    margin-top: 30px; } }
