@import "_commun.scss";

.buttons {
  display: flex;
  text-align: center;
  align-items: center;
}

button:focus {
  box-shadow: none;
  outline: none;
}

p {
  color: #5c5c5c;
  font-size: 19px;
}

.competences-label {
  margin: 0;
  margin-top: 10px;
}

.text-center {
  margin-top: 10px;
}

h1 {
  font-size: 3rem;
  color: #363636;
}

h2 {
  text-align: center;
  font-weight: bold;
  color: #363636;
}

.blue {
  color: $primary;
}

.primary-button {
  border: none;
  background-color: $primary;
  width: 150px;
  height: 48px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
}

.contact {
  font-size: 30px;
  display: none;
  margin-right: 15px;
}

.reverse {
  background-color: #fff;
  border: $primary 3px solid;
  color: $primary;
}

img {
  width: 300px;
}

.second {
  margin-top: 50px;
}

.php {
  width: 0;
  animation: php 1.5s ease-in-out forwards;
}
.html {
  width: 0;
  animation: html 1.5s ease-in-out forwards;
}
.c {
  width: 0;
  animation: c 1.5s ease-in-out forwards;
}
.sql {
  width: 0;
  animation: sql 1.5s ease-in-out forwards;
}
.python {
  width: 0;
  animation: python 1.5s ease-in-out forwards;
}

@keyframes php {
  from {
    width: 0;
  }
  to {
    width: 10%;
  }
}
@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes c {
  from {
    width: 0;
  }
  to {
    width: 20%;
  }
}
@keyframes sql {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

@keyframes python {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}